html, body {
  font: 13px Avenir;
  margin: 0;
  height: 100%;
  width: 100%;
}

h1 {
  font: bold 30px Didot, "Didot LT STD";
  letter-spacing: -2px;
  margin-bottom: 0;
}

h1 + p {
  margin-top: 0;
}

h2 {
  font: bold 20px Didot, "Didot LT STD";
  letter-spacing: -1px;
  margin-bottom: 0px;
}

h3 {
  font: 13px Didot, "Didot LT STD";
}

a {
  font-weight: 900;
  text-decoration: none;
  color: black;
  letter-spacing: -0.5px;
}

.header {
  grid-area: header;
  background-image: url("../images/background-cropped.png");
  background-color: #ffd4d4;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.side {
  grid-area: side;
}

.main {
  padding: 10%;
  grid-area: main;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 60px;
}

.footer {
  grid-area: footer;
  background-color: #ffd4d4;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container {
  display: grid;
  grid-template-rows: 0.5fr auto 1fr;
  grid-template-areas:
    "header"
    "main"
    "side"
    "footer";
}

article > div {
  border-radius: 5px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}

@media (min-width: 500px) and (max-width: 800px){
  .container {
    grid-template-rows: 0.7fr auto 1fr;
  }
  article > div {
    height: 200px;
  }
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 15px;
    letter-spacing: -0.5px;
  }
}


@media (min-width: 801px){
  .container {
    grid-template-columns: auto 20%;
    grid-template-rows: 4fr auto 1fr;
    grid-template-areas:
      "header header"
      "main side"
      "footer footer";
  }
  article > div {
    height: 200px;
  }
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 15px;
    letter-spacing: -0.5px;
  }
}

#chimamanda {
  background-image: url('../images/chimananda.png');
  background-color:#ffa4a2;
}

#malala {
  background-image: url('../images/malala.png');
  background-color:#efc000;
}

#serena {
  background-image: url('../images/serena.png');
  background-color:#00a290;
}

#frida {
  background-image: url('../images/frida.png');
  background-color:#ff764a;
}
