body {
  font: 14px Avenir;
  margin: 0;
}

h1 {
  font: bold 36px Didot, "Didot LT STD";
  letter-spacing: -2px;
  margin: 15% 0 0 0;
}

h2 {
  font: bold 26px Didot, "Didot LT STD";
  letter-spacing: -1px;
}

h3 {
  font: bold 16px Didot, "Didot LT STD";
  letter-spacing: -1px;
}

.article-page-link {
  font-weight: bold;
  text-decoration: none;
  color: black;
  letter-spacing: -0.5px;
}

.header {
  grid-area: header;
  background-image: url("../images/background.jpg");
  background-color: #ffd4d4; /* Used if the image is unavailable */
  height: 100%;
  background-size: cover;
  background-position: top;
  text-align: center;
}

.side {
  grid-area: side;
  background-color: green;
}

.main {
  grid-area: main;
  background-color: yellow;
}

.footer {
  grid-area: footer;
  background-color: #ffd4d4;
  text-align: center;
}

article {
  width: 300px;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 8fr 3fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "side"
    "footer";
}

@media (min-width: 501px){
  .grid-container {
    grid-template-columns: auto 20%;
    grid-template-rows: 20% 70% 10%;
    grid-gap: 10px;
    grid-template-areas:
      "header header"
      "main side"
      "footer footer";
  }
  .main {
   display: flex;
   justify-content: space-evenly;
 }
}
